:root {
    --txtborder1: #16553e6d;
    --txtborder2: #0462348b;
    --primary-color:#1a4100;
}

.loginBody{
    box-sizing: border-box;
    width: auto;
    margin: 50px 0;
    overflow:auto; 
    padding: 20px;
    background: linear-gradient(79deg, rgba(255, 255, 255, 0.81) 42.39%, #82938D 94.88%);
    box-shadow: 10px 20px 50px rgba(59, 62, 67, 0.05);
    border-radius: 20px;
    border: none;
    display: grid;
    grid-template-rows: [top] auto [middle] auto [base] auto;
}

@import url("body/top.css");

@import url("body/middle.css");

@import url("body/base.css");