$text: #382b22;
$light-pink: #fff0f0;
$pink: #ffe9e9;
$dark-pink: #f9c4d2;
$pink-border: #b18597;
$pink-shadow: #ffe3e2;

#ProjectLike{
    grid-area: btn;
    div{
        display: flex;
        padding-right: 10px;
    }
    width: 80px;
    font-size: 16px;
    // background-image: linear-gradient(90deg, #fcecfe, #fbf6e7, #e6fcf5);
    // border-radius: 11px;
    padding: 3px 5px;
    // line-height: 24px;
    // cursor: pointer;
    // appearance: none;
    // outline: none;
    // border: 0;
    // color: #14387e;
    // box-shadow: 0 1px 2px rgba(0 0 0 / 2%), 0 4px 16px rgba(0 0 0 / 2%),
    //     0 4px 24px rgba(0 0 0 / 2%);
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
    font-weight: 700;
    color: $text;
    // padding: 1.25em 2em;
    background: $light-pink;
    border: 2px solid $pink-border;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $dark-pink;
        border-radius: inherit;
        box-shadow: 0 0 0 2px $pink-border;
        transform: translate3d(0, 0.75em, -1em);
        transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
    }
    &:hover {
        background: $pink;
        transform: translate(0, 0.25em);
        &::before {
            box-shadow: 0 0 0 2px $pink-border, 0 0.5em 0 0 $pink-shadow;
            transform: translate3d(0, 0.5em, -1em);
        }
    }
    &:active {
        background: $pink;
        transform: translate(0em, 0.75em);
        &::before {
            box-shadow: 0 0 0 2px $pink-border, 0 0 $pink-shadow;
            transform: translate3d(0, 0, -1em);
        }
    }
}

.material-symbols-outlined {
    padding-right: 5px;
    // margin:0;
    color:rgb(255, 84, 84);
    font-variation-settings:
    'FILL' 1,
    'wght' 100,
    'GRAD' 0,
    'opsz' 40
}


.NoneClick{
    .material-symbols-outlined {
        color:#b18597;
        font-variation-settings:
        'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 40
    }
}

