.ProjectContentWrapper{
    display: grid;
    grid-template-areas: 
    'youtube'
    'pdf';
    grid-template-rows: 450px 450px;
    justify-content: center;
}

#ProjectYoutube{
    border-top:4px dashed #00620a;
    grid-area: youtube;
}
#ProjectPDF{
    grid-area: pdf;
}
.ProjectContent {
    padding: 30px 0;
}

.ProjectContent p{
    padding-bottom: 20px;
    font-size: 30px;
    color: #00620a;
    font-weight: 900;
}
.ProjectYoutube{
    width: 100%;
}

.ProjectPDF{
    width: 100%;
    height: 90%;
}