$target: #edfeedd3;

.hidden{
    display: none;
  }
  .MainTitle {
    // * original value
    // position: absolute;
    // left: 30%;
    // top: 50%;
    // transform: translate(-50%,-50%);
    position: sticky; 
    height: 70px;
    white-space: nowrap;
    margin:30px 0px;
  }
  
  .focus {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-family: Arial;
      text-transform: uppercase;
      letter-spacing: 2px;
      filter: blur(3px);
      font-size: 50px;
      opacity: 0.6;
      color: #fff;
    }
    
    .mask {
      position: absolute;
      left: -8px;
      top: 6px;
      width: 70px;
      font-family: Arial;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 50px;
      clip: rect(0px,70px,75px,0px);
      background: linear-gradient($target, $target 0) no-repeat,
        linear-gradient(to right, $target, $target 0) no-repeat,
        linear-gradient(to right, $target, $target 0) bottom left no-repeat,
        linear-gradient(to right, $target, $target 0) bottom left no-repeat,
        linear-gradient($target, $target 0) bottom right no-repeat,
        linear-gradient($target, $target 0) bottom right no-repeat,
        linear-gradient($target, $target 0) top right no-repeat,
        linear-gradient($target, $target 0) top right no-repeat;
      background-size: 10px 2px, 2px 10px, 2px 10px, 10px 2px, 2px 10px, 10px 2px, 10px 2px, 2px 10px, 10px 2px;
      color: #fff;
      padding: 5px;
      transform: translateX(0);
      box-sizing: border-box;
      animation: mask 3s ease infinite alternate;
    }
    
    .titleText {
      transform: translateX(0);
      animation: text 3s ease infinite alternate;
    }
    
    @keyframes mask {
      to {
        transform: translateX(230px);
      }
    }
    
    @keyframes text {
      to {
        transform: translateX(-230px);
      }
    }